<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:mv="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1. 配置包扫描器-->
    <context:component-scan base-package="cn.andylhl.crowd.web"/>
    <!--2. 注解驱动-->
    <!--@RequestBody和@Response和@ControllerAdvice都用的到-->
    <mvc:annotation-driven/>
    <!--3.配置视图解析器-->
    <!--web静态资源统一放在WEB-INF目录下-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/template/" />
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置view-controller-->
    <!--测试-->
    <mvc:view-controller path="test/target.html" view-name="target"/>
    <!--访问后台管理员登录界面-->
    <mvc:view-controller path="/admin/to/login/page.html" view-name="admin-login"/>
    <!--访问后台主页面地址-->
    <mv:view-controller path="/admin/to/main/page.html" view-name="admin-main"/>
    <!--访问添加用户界面-->
    <mvc:view-controller path="/admin/to/add/page.html" view-name="admin-add"/>
    <!--访问角色数据展示页面-->
    <mvc:view-controller path="/role/to/page.html" view-name="role-page"/>
    <!--访问菜单维护界面-->
    <mvc:view-controller path="/menu/to/page.html" view-name="menu-page"/>
    
    <!--基于XML的异常映射-->
    <bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!--配置异常类型与具体视图页面的对应关系-->
        <property name="exceptionMappings">
            <props>
                <!--key是异常类型名-->
                <!--标签体中的值是写对应的视图（发生该异常要跳转到的页面）-->
                <prop key="java.lang.Exception">system-error</prop>
                <prop key="cn.andylhl.crowd.exception.AccessForbiddenException">admin-login</prop>
            </props>
        </property>
    </bean>

    <!--配置拦截器-->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            &lt;!&ndash;配置拦截器要拦截的接口地址&ndash;&gt;-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash;配置拦截器不需要拦截的资源&ndash;&gt;-->
<!--            &lt;!&ndash;后台登录页面&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/admin/to/login/page.html"/>-->
<!--            &lt;!&ndash;后台登录验证接口&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/admin/do/login.html"/>-->
<!--            &lt;!&ndash;后台登录验证接口&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/admin/do/logout.html"/>-->
<!--            &lt;!&ndash;退出登录接口&ndash;&gt;-->
<!--            <bean class="cn.andylhl.crowd.web.interceptor.LoginInterceptor"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

</beans>